/* COLOR CODES
#EFDCBC #C2C5B0 #D6B5A2 #557580
#B5A162 #D0B48D #CBC29B #A24D38 #2D3424
#0D5661 #9F353A #D7B98E #4F726C
*/

:root {
  --side-bar-width: 4vw;
  --nav-bar-height: 5.8vw;
  --content-padding: 1vw;
}

body {
  background-image: url('/images/background.png');
  background-attachment: fixed;
  background-size: cover;
  /* background-color: white; */
  margin: 0px;
  font-family: 'Questrial', sans-serif;
  /* filter: grayscale(50%) */
}

div {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}

/*--------------JELLYFISH--------------*/
.aquarium > * img {
  max-width: 100%;
  max-height: 100%;
  /* filter: grayscale(50%) */
}

.j1-item {
  position: fixed;
  /* border: solid; */
  top: 5.5vw;
  left: 4vw;
  width: 23vw;
  height: auto;
  z-index: -1;
  animation: jelly1float 5s ease-in-out 0.39s infinite alternate;
}

@keyframes jelly1float {
  from{top: 5.5vw; left: 5.4vw;}
  to{top: 6.3vw; left: 3.3vw;}
}

.j2-item {
  position: fixed;
  /* border: solid; */
  top: 25vw;
  left: 50vw;
  width: 30vw;
  height: auto;
  z-index: 1;
  animation: jelly2float 2s ease-in-out infinite alternate;
  /* opacity: .99; */
}

@keyframes jelly2float {
  from{top: 25vw; left: 50vw;}
  to{top: 28vw; left: 51vw;}
}

#j2-trans {
  /* position: absolute; */
  top: 0;
  left: 0;
  /* z-index: 1; */
}

#j2-fill {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.39
  /* z-index: 0; */
}

.j3-item {
  position: fixed;
  /* border: solid; */
  top: 2.7vw;
  right: 0;
  width: 37vw;
  height: 30vw;
  z-index: 1;
  animation: jelly3float 2.9s ease-in-out 0.5s infinite alternate-reverse;
  /* opacity: .99; */
}

@keyframes jelly3float {
  from{top: 2.4vw;}
  to{top: 3.1vw;}
}

#j3-trans {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* opacity: .89; */
}

#j3-fill {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.19
  /* z-index: 0; */
}

/*--------------APP--------------*/
#app-container {
  /* height: 100vh;
  width: 100%; */
  display: flex;
  flex-direction: row;
}

#home-page {
  height: 100vh;
  width: calc(100vw - var(--side-bar-width));
  margin-left: var(--side-bar-width);
  padding: 0 5vw;
  font-size: 16.9vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*--------------TOGGLES--------------*/
.big-letters {
  padding: 0.2em 0;
  margin: 0 0;
}

.big-letters-link {
  /* color: inherit;
  text-decoration: inherit; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.big-letters-link:hover {
  position: relative;
  color: white;
  cursor: pointer;
  z-index: 10;
  /* animation: hover 2s; */
}

.big-letters-link::before {
  content: '';
  margin: -0.075em;
}

.big-letters-link::after {
  content: '';
  margin: -0.095em;
}

.isOpen {
  position: relative;
  z-index: 10;
}

.animated-div {
  position: relative;
  overflow: hidden;
  font-size: 20px;
  z-index: 10;
}

/* .content-container {
  background:white;
  width: 100%;
  display: flex;
  justify-content: center;
} */

.content {
  padding: 5em 1em 0 1em;
  /* background: red; */
  display: flex;
  flex-direction: column;
}

/*--------------PROJECTS--------------*/
.project-item {
  background: rgb(255,255,255,.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3em;
  border-radius: .3em;
}

.cover-photo-item {
  /* background: #4F726C; */
  width: 40vw;
  /* max-width: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
}  

.cover-photo {
  /* width: 40vw;
  box-sizing: border-box; */
  width: calc(100% - 2*var(--content-padding));
  padding: var(--content-padding);
}

.text-field {
  /* background: #9F353A; */
  width: calc(100% - 40vw - 5em);
  margin-left: 5em;
  /* padding:1vw */
}

.desc {
  padding: var(--content-padding);
}

.tech {
  padding: var(--content-padding);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tech-item {
  font-size: 16px;
}

.tech-keyword {
  margin: 0.1em;
  padding: 0.3em 0.5em;
  border: solid 0.5px;
  border-radius: 3px;
}

.link {
  padding: var(--content-padding);
  display: flex;
  flex-direction: row;
}

.link-item {
  padding-right: 0.5em;
  /* width: 2em; */
}

.link-icon {
  width: 32px;
}

/*--------------ABOUT--------------*/
.about-item {
  /* background: #D0B48D; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3em;
}

.headshot-item {
  /* background: #4F726C; */
  width: 20vw;
  /* max-width: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
}  

.headshot {
  /* width: 40vw;
  box-sizing: border-box; */
  width: calc(100% - 2*var(--content-padding));
  padding: var(--content-padding);
}

.info-field {
  /* background: #9F353A; */
  width: calc(100% - 20vw - 5em);
  margin-left: 5em;
  /* padding:1vw */
}

/*--------------CONTACT--------------*/
.contact-item {
  /* background: rgb(255,255,255,.5); */
  margin-bottom: 3em;
  border-radius: .4em;
  /* padding: var(--content-padding); */
}

.space {
  height: 1em;
}

.text {
  padding: var(--content-padding);
}

/*--------------CONTACT FORM--------------*/
.form-item {
  background: rgb(255,255,255,.5);
  width: 70vw;
  padding: var(--content-padding);
  border-radius: .3em;
}

#info-container {
  /* background: blue; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding-bottom: var(--content-padding);
}

#name {
  /* box-sizing: content-box; */
  width: 50%;
  padding-right: 2em;
}

#email {
  width: 50%;
}

#name > div, #email > div, #msg > div {
  padding-bottom: var(--content-padding);
  /* display: flex; */
  /* align-content: center; */
}

#msg {
  padding-bottom: var(--content-padding);
}

input {
  height: 1.5em;
  width: 30vw;
  max-width: 20em;
  border: none;
  font-size: inherit;
  font-family: inherit;
  background-color: rgb(255,255,255,.73)
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  border: none;
  width: 100%;
  height: 15em;
  padding: 0;
  margin: 0;
  resize: none;
  background-color: rgb(255,255,255,.73);
}

textarea::-webkit-scrollbar {
  display: none;
}

.btn-container {
  /* width: 60%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btn {
  background: rgb(255,255,255,.73);
  /* font-size: inherit;
  font-family: inherit; */
  height: 1.5em;
  width: 10em;
  /* text-align: center;
  margin: auto;
  vertical-align: middle; */
  /* border: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--content-padding);
  box-sizing: border-box;
}

.btn:hover {
  border: solid 1px;
}

/*--------------QUICK LINKS--------------*/
#side-bar {
  position: fixed;
  /* background-color: #9F353A; */
  color: white;
  height: 100vh;
  width: var(--side-bar-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-right: solid; */
}

#side-bar-content {
  position: relative;
  height: 27%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}  

.quick-link-icon {
  width: 50%;
}