/* COLOR CODES
#EFDCBC #C2C5B0 #D6B5A2 #557580
#B5A162 #D0B48D #CBC29B #A24D38 #2D3424
#0D5661 #9F353A #D7B98E #4F726C
*/

/*
STYLING NOTES
- side bar width is 4vw
- home page width is vw minus side bar
- big letters no setting
- content container only paddings
*/

:root {
  /* --side-bar-width: 4vw; */
  --side-bar-width: 50px;
  --content-padding: 13px;
  /* --content-padding: 1vw; */
  --home-page-width: calc(100vw - var(--side-bar-width));
  /* --home-page-padding: max(5vw, 30px); */
  --home-page-padding: 30px;
  --min-view-height: 400px;
  --min-view-width: calc(400px * 160/89);
  --side-bar-height-mb: 50px;
}

body {
  background-color: rgb(158, 196, 231);
  margin: 0px;
  font-family: 'Questrial', sans-serif;
  /* min-height: 225px; */
  /* min-width: 200vh; */
}

div {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}

/*--------------QUICK LINKS--------------*/
#side-bar {
  position: fixed;
  height: 100vh;
  min-height: 300px;
  width: var(--side-bar-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#side-bar-content {
  position: relative;
  height: 30%;
  min-height: 225px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}  

.quick-link {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.quick-link-icon {
  width: 50%;
  height: 100%;
}

@media (max-aspect-ratio: 3/4) {
  #side-bar {
    /* background: red; */
    background-color: rgb(158, 196, 231);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7vh;
    min-height: var(--side-bar-height-mb);
    flex-direction: row;
    overflow-y: hidden;
  }
  #side-bar-content {
    height: calc(var(--side-bar-height-mb) * 0.5);
    width: 40%;
    min-width: 240px;
    min-height: 0px;
    align-self: center;
    flex-direction: row;
  }
  .quick-link-icon {
    width: 3.5vh;
    min-width: 25px;
  }
}

/*--------------LOGO--------------*/
#logo-container {
  display: none;
}

#logo {
  position: relative;
  animation: jellyfloat 5s ease-in-out infinite alternate;
}

@media (max-aspect-ratio: 3/4) {
  #logo-container {
    display: flex;
    flex-direction: column;
    /* z-index: 10; */
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  #logo{
    height: 40vw;
  }
  .logo-fill {
    margin: 30px;
  }
  @keyframes jellyfloat {
    from {top: 0px;}
    to {top: 50px;}
  }
}

@media (max-aspect-ratio: 3/4) and (min-height: 1000px) {
  @keyframes jellyfloat {
    from {top: 0px;}
    to {top: 150px;}
  }
}

@media (min-aspect-ratio: 220/89) {
  #logo-container {
    position: fixed;
    display: flex;
    width: calc(100vw - (100vh/89*160));
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
  }
  #logo{
    width: 200px;
  }
  @keyframes jellyfloat {
    from {top: -50px;}
    to {top: 50px;}
  }
}

/*--------------APP--------------*/
#app-container {
  display: flex;
  flex-direction: row;
}

#home-page {
  /* border: solid 1px red; */
  height: 100vh;
  width: var(--home-page-width);
  margin-left: var(--side-bar-width);
  padding: 0 var(--home-page-padding);
  display: flex;
}

@media (max-aspect-ratio: 3/4) {
  #app-container {
    flex-direction: column;
    overflow-y: hidden;
  }
  #home-page {
    position: fixed;
    /* background: yellowgreen; */
    height: calc(93vh - .2em);
    /* height: 30px; */
    max-height: calc(100vh - var(--side-bar-height-mb) - .2em);
    width: 100vw;
    margin-left: 0;
    padding: 0;
    padding-top: .2em;
    overflow-y: scroll;
    font-size: 16.91vw;
  }
}

@media (max-height: 400px), (max-width: 719.1px) and (min-aspect-ratio: 3/4) {
  #home-page {
    font-size: calc(var(--min-view-height) * 0.304);
  }
}

@media (min-height: 400px) and (min-width: 719.1px) and (min-aspect-ratio: 3/4) and (max-aspect-ratio: 160/89) {
  #home-page {
    /* overflow-x: hidden; */
    font-size: 16.91vw;
  }
}

@media (min-height: 400px) and (min-width: 719.1px) and (min-aspect-ratio: 160/89) {
  #home-page {
    font-size: 30.4vh;
  }
}

/*--------------TOGGLES--------------*/
.big-letters {
  padding: 0.2em 0;
  margin: 0 0;
}

.big-letters-link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.big-letters-link::before {
  content: '';
  margin: -0.075em;
}

.big-letters-link::after {
  content: '';
  margin: -0.095em;
}

.big-letters-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@media (max-aspect-ratio: 3/4) {
  .big-letters-container{
    padding-left: .4em;
  }
}

.big-letters-container::after {
  flex-grow: 100;
  content: '';
}

.big-letters-inner-text:hover {
  position: relative;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.isOpen {
  position: relative;
  z-index: 10;
}

.animated-div {
  position: relative;
  overflow: hidden;
  font-size: 15px;
  z-index: 10;
}

.content-container {
  /* border: solid 1px red; */
  padding: 5em 20px 0 20px;
  width: 82vw;
  min-width: calc(var(--min-view-width) * 0.82);
}

@media (max-aspect-ratio: 3/4) {
  .content-container {
    min-width: 0;
    width: 100vw;
    padding: 2em 0 0 0;
    display: flex;
    justify-content: center;
  }
}

@media (min-aspect-ratio: 160/89) {
  .content-container {
    width: 147.4vh;
  }
}

/*--------------PROJECTS--------------*/
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.project-card {
  background: rgb(255,255,255,.5);
  width: 300px;
  margin: 20px;
}

@media (max-aspect-ratio: 3/4) {
  .projects-container {
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    /* align-items: center; */
    /* align-content: none; */
  }
  .project-card {
    /* background: rgba(158, 196, 231, 0.5); */
    background: rgb(206, 225, 243);
    border-radius: .3em;
  }
}

.cover-photo-item {
  height: 200px;
  padding: var(--content-padding);
  display: flex;
  justify-content: center;
}  

.cover-photo {
  width: 200px;
}

.text-field {
  display: flex;
  flex-direction: column;
}

.desc {
  height: 105px;
  padding: var(--content-padding);
}

.tech {
  height: 100px;
  padding: var(--content-padding);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

/* .tech-item {
  font-size: 15px;
} */

.tech-keyword {
  margin: 0.1em;
  padding: 0.2em 0.3em;
  border: solid 0.5px;
  border-radius: 3px;
}

.link {
  height: 35px;
  padding: var(--content-padding);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-item {
  padding-right: 0.5em;
}

.link-icon {
  width: 2vw;
  min-width: 25px;
  max-width: 30px;
}

.auto-fill {
  width: 300px;
  margin: 20px;
}

@media (max-aspect-ratio: 3/4) {
  .auto-fill {
    margin: 3px 20px;
  }
}

/*--------------ABOUT--------------*/
.about-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3em;
}

.headshot-item {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.headshot {
  width: 200px;
}

.info-field {
  width: calc(100% - 20vw - 5em);
  margin-left: 5em;
}

@media (max-aspect-ratio: 3/4) {
  .about-item {
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .headshot {
    width: 40vw;
    max-width: 200px;
  }
  .info-field {
    width: 88%;
    margin-left: 0;
    padding: 2em 0;
  }
}

/*--------------CONTACT--------------*/
.contact-item {
  margin-bottom: 3em;
  border-radius: .4em;
  padding: var(--content-padding);
}

@media (max-aspect-ratio: 3/4) {
  .contact-item {
    /* margin-left: 3vw; */
    width: 88%;
  }
}

.space {
  height: 1em;
}

.text {
  /* padding: var(--content-padding); */
}

/*--------------CONTACT FORM--------------*/
.form-item {
  background: rgb(255,255,255,.5);
  width: 88%;
  padding: var(--content-padding);
  border-radius: .3em;
}

#info-container {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--content-padding);
}

#name {
  width: 50%;
  padding-right: 2em;
}

#name > div::after, #email > div::after, #msg > div::after {
  content: '*';
  color: red;
}

#email {
  width: 50%;
}

#name > div, #email > div, #msg > div {
  padding-bottom: var(--content-padding);
}

#msg {
  padding-bottom: var(--content-padding);
}

.warning {
  color: red;
  font-size: .8em;
  display: flex;
  align-self: center;
}

input {
  height: 1.5em;
  width: 90%;
  max-width: 20em;
  border: none;
  font-size: inherit;
  font-family: inherit;
  background-color: rgb(255,255,255,.73)
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  border: none;
  width: 100%;
  height: 15em;
  padding: 0;
  margin: 0;
  resize: none;
  background-color: rgb(255,255,255,.73);
}

textarea::-webkit-scrollbar {
  display: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btn {
  background: rgb(255,255,255,.73);
  height: 1.5em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--content-padding);
  box-sizing: border-box;
}

.btn:hover {
  border: solid 1px;
  cursor: pointer;
}

@media (max-aspect-ratio: 3/4) {
  .form-item{
    background: rgb(206, 225, 243);
  }
  #info-container {
    flex-direction: column;
  }
  #name {
    width: 100%;
  }
  #email {
    width: 100%;
  }
  #name > input {
    margin-bottom: var(--content-padding);
  }
  .btn {
    width: 5em;
  }
}

/*--------------JELLYFISH--------------*/
.aquarium > * img {
  max-width: 100%;
  max-height: 100%;
  /* filter: grayscale(50%) */
}

.j1-item {
  position: fixed;
  /* border: solid; */
  top: 5.5vw;
  left: 4vw;
  width: 23vw;
  height: auto;
  z-index: -1;
  animation: jelly1float 5s ease-in-out 0.39s infinite alternate;
}

@keyframes jelly1float {
  from{top: 5.5vw; left: 5.4vw;}
  to{top: 6.3vw; left: 3.3vw;}
}

.j2-item {
  position: fixed;
  /* border: solid; */
  top: 25vw;
  left: 50vw;
  width: 30vw;
  height: auto;
  z-index: 1;
  animation: jelly2float 2s ease-in-out infinite alternate;
  /* opacity: .99; */
}

@keyframes jelly2float {
  from{top: 25vw; left: 50vw;}
  to{top: 28vw; left: 51vw;}
}

#j2-trans {
  /* position: absolute; */
  top: 0;
  left: 0;
  /* z-index: 1; */
}

#j2-fill {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.39
  /* z-index: 0; */
}

.j3-item {
  position: fixed;
  /* border: solid; */
  top: 2.7vw;
  right: 0;
  width: 37vw;
  height: 30vw;
  z-index: 1;
  animation: jelly3float 2.9s ease-in-out 0.5s infinite alternate-reverse;
  /* opacity: .99; */
}

@keyframes jelly3float {
  from{top: 2.4vw;}
  to{top: 3.1vw;}
}

#j3-trans {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* opacity: .89; */
}

#j3-fill {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.19
  /* z-index: 0; */
}

@media (max-aspect-ratio: 3/4) {
  body {
    /* background-color: red; */
  }
}